<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sensor QC</title>
    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <!-- Bootstrap Theme CDN -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>
        body {
            padding-top: 50px;
        }

        td.sensor-group {
            background-color: #e5e5e5;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Sensor QC</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Results</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>

    <div class="container">
        <h1>{{ title }}</h1>

        <div class="panel panel-default">
            <div class="panel-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Classification</th>
                        </tr>
                    </thead>
                        <tbody>
                        {% set counter = 0 %}
                        {% for sensor in results %}
                            {% set counter = counter + 1 %}
                            <tr class="{{ sensor.css_cls }}">
                                <td>{{ counter }}</td>
                                <td>{{ sensor.name }}</td>
                                <td>{{ sensor.classification }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                </table>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="accordion" id="accordion">
                <div class="accordion-group">
                    <div class="accordion-heading panel-heading">
                        <div>
                            <h3>References</h3><br />
                            <div>Temp reference: {{ reference.temp_reference}}&deg;</div>
                            <div>Humidity reference: {{ reference.humidity_reference}}%</div>
                        </div>
                        <br />
                        <a class="accordion-toggle" href="#collapse" data-toggle="collapse" data-parent="#accordion">Data</a>
                    </div>
                    <div class="accordion-body panel-body collapse" id="collapse">
                        <div class="accordion-inner">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Sensor Name</th>
                                    <th>Value</th>
                                    <th>Time</th>
                                </tr>
                                </thead>
                                <tbody>
                                    {% set sensor_group = False %}
                                    {% set sensor_reading_class = (None , "sensor-group") %}
                                    {% for sensor in results -%}
                                        {% set sensor_group = not sensor_group %}
                                        {% for entry in sensor.readings -%}
                                            <tr>
                                                <td class="{{ sensor_reading_class[sensor_group] }}">{{ sensor.name }}</td>
                                                <td class="{{ sensor_reading_class[sensor_group] }}">{{ entry[0] }}</td>
                                                <td class="{{ sensor_reading_class[sensor_group] }}">{{ entry[1].strftime("%Y-%d-%mT%H:%M") }}</td>
                                            </tr>
                                        {%- endfor %}
                                    {%- endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div><!-- End Accordion -->
        </div> <!-- End Panel -->
    </div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</body>
</html>